/* 🔥 Underline hover animation
.underline-effect {
    position: relative;
    display: inline-block;
    color: #fb7185;

    text-decoration: none;
}

.underline-effect::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: #fb7185;

    transition: width 0.3s ease-in-out;
    box-shadow: 0 0 10px #fb7185, 0 0 20px #fb7185;

}

.underline-effect:hover::after {
    width: 100%;
} */


/* 🔥 Gradient Underline Hover Animation */
.underline-effect {
    position: relative;
    display: inline-block;
    text-decoration: none;
    background: linear-gradient(to right, #38bdf8, #67e8f9);
    /* from-sky-400 to-cyan-300 */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

.underline-effect::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0%;
    height: 2px;
    background: linear-gradient(to right, #38bdf8, #67e8f9);
    box-shadow: 0 0 10px #38bdf8, 0 0 20px #67e8f9;
    transition: width 0.4s ease-in-out;
    border-radius: 2px;
}

.underline-effect:hover::after {
    width: 100%;
}