


/* 🔥 Gradient Underline Hover Animation */
.underline-effect {
    position: relative;
    display: inline-block;
    text-decoration: none;
    /* background: linear-gradient(to right, #38bdf8, #67e8f9); */
    background: linear-gradient(to right, #5fa3c1, #7ae5f5);
    /* from-sky-400 to-cyan-300 */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

.underline-effect::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0%;
    height: 2px;
    background: linear-gradient(to right, #38bdf8, #67e8f9);
    box-shadow: 0 0 10px #38bdf8, 0 0 20px #67e8f9;
    transition: width 0.4s ease-in-out;
    border-radius: 2px;
}

.underline-effect:hover::after {
    width: 100%;
}